/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

hr {
  width: 75%; 
  margin: 0 auto;
  opacity: 0.1;
  border-width: 2px!important;
   border-color: black!important;
   opacity: 0.1!important;
  
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
  min-width: 15vh;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

#navBar {
  background-color: white;
}

/* Visible state */
#navBar.shown {
  position: fixed;
  z-index: 200;
  /* http://smoothshadows.com/#djEsMSwxLDAuMDgsMjgsMCwwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDI%3D */
box-shadow: 0px 0px 28px rgba(3, 7, 18, 0.08);

  height: 7vh;
}

.active {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 80vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 5rem;
}

.section-container {
  gap: 4rem;
  height: 50%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* PROJECTS SECTION */


.project-top {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  height: 16rem;
  max-width: 125vh;
  
}

/* .project-logo,
.project-name-title {
  height: 3rem;
} */



.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.project-name-title h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.project-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  width: 100%;
  flex-grow: 1;
  max-width: 100vh;
}

.project-link {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}

.project-link img {
  height: 2rem;
}

.project-desc p {
  width: 65vh;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  margin: 0 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  text-align: center;
}

.barcode-font {
  float: right;
  font-size: 3.25rem;
  font-family: "Libre Barcode 128 Text", system-ui;
  margin-right: 3rem;
}

.footer-info {
  display: flex;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.social-links {
  margin-left: 3rem;
}

/* Responsive CSS */

@media only screen and (max-width: 1080px) and (min-width: 768px){
  .barcode-font{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .barcode-font{
    display: none ;
  }

  .nav-links {
    padding: auto;
  }
}

@media only screen and (max-width: 768px) {
  .logo, li, .section__text {
    font-size: 1rem!important;
  }

  .btn{
    font-size: 0.75rem!important;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .project-desc p {
    width: auto;
  }

  nav {
    flex-flow:column nowrap;
  }

  .section__pic-container {
    display: none;
  }

  .section-container {
    display: none;
  }

  section {
    margin: 0 5rem;
    height: 72vh;
  }

  .project-top {
    display: block;
    height: 26vh;
  }

  /* footer */
  .footer-links {
    display: none;
    overflow: hidden;
  }

  .barcode-font {
    font-size: 2.5rem;
  }

}